.contents
  .side-bar
    .side-bar__header
      .side-bar__wrapper
        = current_user.name
        .side-bar__icon
          %span.icons
            =link_to "", class: "side-bar__header--icon" do
              = fa_icon "edit"
          %span.icons
            =link_to edit_user_path(current_user), class: "side-bar__header--icon" do
              = fa_icon "cog"

    .side-bar__group
      %div.group
        %p.name  グループ名
        %p.masseage  最新のメッセージ
      テスト

  .chat
    .chat__header
      %div.chat-group
        %p.group-title  グループ
        %ul.members
          %li  member:
        %div.edit-btn.clearfix
          %p.btn  Edit  
      
    .chat__message
      %span.user-name  ユーザー名
      %span.date  日付
      %p.message-content  内容
      
      
    .chat__form
      %form
        %input.chat__form--messeage
        %label.fa-stack
          = fa_icon 'image',class: "fa-stack-2x my-small"
          %input.hidden{type: 'file'}
        %input.chat__form--btn{type: 'submit', value: 'Send'}
            