.side-bar{
  color:$white;
  height:100%;
  background-color:#2f3e51;
  width:300px;
  float:left;
  position: relative;
  overflow: scroll;

    &__wrapper {
      display: flex;
      top: 40px;
      position: relative;
    }
    &__icon {
      position: absolute;
      right: 0;
      
    }
  
    &__header{
    background-color:#253141;
    height:100px;
    font-size:16px;
    font-weight :bold;
    padding: 0 20px;
      &--icon{
        color:$white;
        text-decoration: none;
      }
    }

    &__group{
      padding: 0 20px;

      a{
        color:white;
        text-decoration: none;
      }
      .one-block{
        margin-bottom: 40px;
      }
      
    }  
}

.group{
  box-sizing: border-box;
  padding: 20px 0 40px;
  .name{
    font-weight :bold;
    font-size:15px;
  }
  .masseage{
    font-weight :bold;
    font-size:11px; 
    padding-top:5px;
  }
  
}
